.chat-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chat-card{
    background-color: white;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.title-bar{
    display: flex;
    flex-direction:row;
    background-color: #7474C4;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}
.title-bar *{
    font-weight: 800;
    color: white;

}
.title-bar button{
    background-color: transparent;
    border: none;
}
.name-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.dot {
    width: 3px;
    height: 3px;
    padding: 3px;
    background-color: white;
    border-radius: 3px;
}
.btm-line {
        width: 100%;
        background-color: rgba(128, 128, 128, 0.418);
        height: 1px;
}
.new-msg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-msg button{
    font-size: small;
}
input{
    border: none;
    outline: none;
}
.date-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: rgba(128, 128, 128, 0.39);
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}
.chat-text-container{
    font-size: small;
    padding: 0;
    margin: 0;
}
.chat-text{
    padding: 0;
    background-color: transparent !important;
    margin: 0;
}
.line {
    height: 1px;
    width: 50%;
    background-color: rgba(128, 128, 128, 0.39);
    opacity: 30%;
}
.chat-1 :nth-child(2) , .chat-2 :nth-child(2) {
    padding: 5px;
    padding-right: 10px;
    border-radius: 5px;
}
.chat-1 :nth-child(2){
    background-color: #B5C6D6;
}
.chat-2 :nth-child(2){
    background-color: #b8cada63;
}
.chat-2 {
    align-self:flex-end;
}
.chat-2 .msg-time {
 text-align: end;
}
.chat-arrow {
    width: 15px;
    height: 15px;
    background-color: #B5C6D6;
    transform: skew(60deg);
    position: absolute;
    top: 0;
    left: 0px;
    z-index: -1;
}
.chats{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 330px;
    overflow-y: scroll;
    padding-top: 50px;
}
.chat{
    margin-bottom: 10px;
    margin-top: 10px;
}
.author, .time{
    font-size: x-small;
}
.chat-2 *{ 
    align-self: flex-end;
}
.chat-2 .chat-arrow {
    left: 93%;
    transform: skew(-60deg);
    background-color: #E3EAF1;
}